body {
  margin: 0;
  padding: 0;
}
.nav-bar {
  background-color: #0c2d48;
  display: flex;
  justify-content: space-between;
}
h1 {
  color: white;
}
select {
  margin: 1rem 3rem;
  padding: 0rem 0.1rem;
}
.doggo-h1 {
  margin: 1rem 3rem;
  padding: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
}
.doggo-img {
  text-align: center;
  margin: 150px;
  display: flex;
  justify-content: center;
  height: 300px;
  width: 80%;
  align-items: center;
  overflow: hidden;
}
.doggo-img-img {
  text-align: center;
}
.hide {
  display: none;
}
.loading-dog {
  font-size: 50px;
  margin: 0;
  padding: 0;
  display: inline block;
  animation: spin 1s infinite linear;
}
@keyframes spin {
  to {
    transform: rotateZ(360deg);
  }
}
